.menus{
  display: flex;
  justify-content: space-around;
}

.main-menu{
  flex-direction: column;
  padding: 5px;
}

.side-menu{
  flex-direction: column;
  padding: 5px;
}

.other-menu{
  flex-direction: column;
  padding: 5px;
}

.add-menu{
  clear: left;
  float: right;
}

.text {
  text-align: start;
}